@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

body{
  min-height: 300vh;
  background-color: #222;
  background: linear-gradient(135deg, #222, #722);
  font-size: 14px;
}

/* Header Component */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  transition: background-color .3s ease-in-out, color .3s ease-in;
}

header.active{
  top: var(--_top);
}

header.clr{
  background-color: #181111;
  box-shadow : 0 10px 12px #0005;
}

header > h2{
  color: #D55;
  cursor: pointer;
}

/* AllVendors Component */

#allVendorsDetail {
  margin: 0 20px;
}

.table {
  cursor: default;
  border-radius: 20px;
}

img {
  width: 25%;
  height: 20px;
  cursor: pointer;
}

img:hover {
  transform: translate(-2%,-2%);
  filter: drop-shadow(10px 0 5px #807b7b);
}


#myForm {
  margin: 0 20px;
  padding: 20px;
  border-radius: 5px;
  background: #b7aeae61;
  color: white;
}

#myForm div {
  padding: 5px 0;
}

#myForm label {
  margin-left: 0.5rem;
}