@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: #222;
  background: linear-gradient(135deg, #222, #722);
  font-size: 14px;
}

/* Header Component */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding: 1rem 2rem;
  position: sticky;
  transition: background-color .3s ease-in-out, color .3s ease-in;
}

header > h2{
  color: #D55;
  cursor: pointer;
}

/* AllVendors Component */

#allVendorsDetail {
  margin: 0 20px;
  /* max-height: 20vh;
  overflow-y: auto;
  overflow-x: hidden; */
}

.table {
  cursor: default;
  border-radius: 20px;
}

img {
  width: 35%;
  height: 20px;
  cursor: pointer;
  margin:auto;
}

td img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 0 5px #807b7b);
}

/* Form Component */

#myForm {
  margin: 0 20px;
  padding: 20px;
  border-radius: 5px;
  background: #b7aeae61;
  color: white;
}

#myForm div {
  padding: 5px 0;
}

#myForm label {
  margin-left: 0.5rem;
}

/* ViewProfile Component */

#myProfile {
  margin: 0 20px;
  border-radius: 5px;
  background: #b7aeae61;
  height: 80vh;
}

.profileImage {
  width: 20%;
  display: flex;
  padding: 20px 0;
}

.profileImage img {
  height: 25vh;
}